body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.appContent{
	background-image: url('https://overtimetales.files.wordpress.com/2014/03/lights.jpg');
	//height: 100vh;
	background-size: cover;

}
